* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  color: #555;
  font-family: arial;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400; }

.right {
  float: right; }

.red {
  color: #FF5049 !important; }

.red-focus:focus {
  border: solid 1px #FF5049 !important; }

.top {
  height: 45vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(back.png);
  background-size: cover;
  background-position: center;
  position: relative; }

.budget {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }
  .budget .budgetTitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300; }
  .budget .box {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    width: 110px; }
  .budget .budgetValue {
    height: 40px;
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px; }
  .budget .budgetIncome, .budget .budgetExpense {
    height: 50px;
    padding: 12px;
    text-transform: uppercase; }
  .budget .budgetIncome {
    margin-bottom: 10px;
    background-color: #28B9B5; }
  .budget .budgetExpense {
    background-color: #FF5049; }
  .budget .budgetIncomeText, .budget .budgetExpenseText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 1px;
    float: left; }
  .budget .budgetIncomePercentage, .budget .budgetExpensePercentage {
    position: absolute;
    display: inline-block;
    float: left;
    width: 40px;
    font-size: 11px;
    padding: 3px 0px;
    margin-left: 10px; }
  .budget .budgetIncomeValue, .budget .budgetExpenseValue {
    position: relative;
    left: -70px;
    width: 120px;
    display: inline-block;
    text-align: left; }
  .budget .budgetExpensePercentage {
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px; }

.add {
  padding: 14px;
  border-bottom: solid 1px #e7e7e7;
  background-color: #f7f7f7; }
  .add .addContainer {
    margin: 0 auto;
    text-align: center;
    padding: 5px; }
    .add .addContainer .addType {
      width: 55px;
      border: solid 1px #e7e7e7;
      height: 44px;
      font-size: 18px;
      color: inherit;
      background-color: #fff;
      margin-right: 10px;
      font-weight: 300;
      transition: border 0.3s; }
    .add .addContainer .addDescription {
      border: solid 1px #e7e7e7;
      padding: 13px 10px;
      width: 400px; }
    .add .addContainer .addValue {
      border: solid 1px #e7e7e7;
      padding: 13px 10px;
      width: 100px; }
    .add .addContainer .addbtn {
      font-size: 35px;
      background: none;
      border: none;
      color: #28B9B5;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      line-height: 1.1;
      margin-left: 10px; }
      .add .addContainer .addbtn:active {
        transform: translateY(2px); }
      .add .addContainer .addbtn:focus {
        outline: none; }
    .add .addContainer .addType:focus, .add .addContainer .addDescription:focus, .add .addContainer .addValue:focus {
      outline: none;
      border: solid 1px #28B9B5; }

.container {
  width: 1100px;
  margin: 60px auto;
  background-color: white; }
  .container .income {
    float: left;
    width: 475px;
    margin-right: 50px; }
    .container .income .incomeTitle {
      color: #28B9B5; }
    .container .income .itemValue, .container .income .itemDeletebtn {
      color: #28B9B5; }
  .container .expense {
    float: left;
    width: 475px; }
    .container .expense .expenseTitle {
      color: #FF5049; }
    .container .expense .itemValue, .container .expense .itemDeletebtn, .container .expense .itemPercentage {
      color: #FF5049; }
  .container h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px; }
  .container .item {
    height: 50px;
    padding: 13px;
    border-bottom: solid 1px #e7e7e7; }
    .container .item:hover .itemDeletebtn {
      display: block; }
    .container .item:hover .itemValue {
      transform: translateX(-20px); }
    .container .item:hover .itemPercentage {
      transform: translateX(-20px); }
  .container .item:first-child {
    border-top: solid 1px #e7e7e7; }
  .container .item:nth-child(even) {
    background-color: #f7f7f7; }
  .container .itemDescription {
    float: left; }
  .container .itemValue {
    float: left;
    transition: transform 0.3s; }
  .container .itemPercentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center; }
  .container .itemDelete {
    float: left; }
  .container .itemDeletebtn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none; }
    .container .itemDeletebtn:focus {
      outline: none; }
    .container .itemDeletebtn:active {
      transform: translateY(2px); }

.unpaid {
  background-color: #FFDAD9 !important;
  cursor: pointer;
  color: #FF5049; }
  .unpaid .itemPercentage {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); }
  .unpaid:hover .itemDescription {
    font-weight: 900; }

/*# sourceMappingURL=style.css.map */
